<div class="card-flex">
    <div class="image-flex" [style.filter]='filter'>
        <img src={{gameCoverArt}}>
    </div>
    <div class="header-flex">
        <p>{{ gameName }}</p>
    </div>
    <div class="twitter-flex">
        <button mat-button (click)="changeValue()" *ngIf="this.buttonVal" id="button">Show Twitter Content</button>
        <div *ngIf="valueToCheck">
            <div *ngFor="let item of twitterArray">
                <li>{{ item }} </li>
            </div>
        </div>
        <div *ngIf="showText">
            <p>Twitter Content Unavailable</p>
        </div>
    </div>
</div>    

