<div class="container" [style.background-color]='color'>
    <div id="particles-js"></div>
    <div class="mode-container">
        <mat-slide-toggle (change)="onToggle($event)" [checked]='modeCheck'><mat-icon>brightness_high</mat-icon></mat-slide-toggle>
        <mat-slide-toggle (change)="onScale($event)" [checked]='scaleCheck'><mat-icon>accessibility</mat-icon></mat-slide-toggle>
    </div>
    <div class="header-container">
        <div class="logo-container">
            <img src="../../assets/Logo.svg" [style.filter]='filter'>
        </div>
        <div class="text-container" [style.background-color]='color' [style.color]='fontColor' [style.border-color]='borderColor'> 
            <p>Ready to QueueUp?</p>
            <p>Welcome to the best way to search for your new favorite adventures.
                Find your new favorite games based on your own interests and the newest
                gaming devices on the market. Use our cultivated recommendations in order 
                to learn about some of the hottest games on the market today. Learn more below!
            </p>
        </div>
    </div>
    <div class="info-container">
        <div class="info-card">
            <div class="card-face" onclick="" [style.background-color]='cardColorOne'>
                <mat-icon class="icon">search</mat-icon>
            </div>
            <div class="card-content">
                <mat-icon class="icon">search</mat-icon>
                <p>Search</p>
                <p>Find an exhilarating new game to play with the search feature. Search through
                different genres and platforms and use tweets to see what people say about it! </p>
            </div>
        </div>
        <div class="info-card">
            <div class="card-face"  onclick="" [style.background-color]='cardColorTwo'>
                <mat-icon class="icon">favorite</mat-icon>
            </div>
            <div class="card-content">
                <mat-icon class="icon">favorite</mat-icon>
                <p>Popular</p>
                <p>Find the most popular and streamed games on the market today! Use the 
                    popular feature in order to see what games have the most attention.
                </p>
            </div>
        </div>
        <div class="info-card">
            <div class="card-face"  onclick="" [style.background-color]='cardColorThree'>
                <mat-icon class="icon">timelapse</mat-icon>
            </div>
            <div class="card-content">
                <mat-icon class="icon">timelapse</mat-icon>
                <p>Retro</p>
                <p>Be nostalgic with the retro feature! Put in your birthday to find the 
                    best games that were released in the year that you were born!
                </p>
            </div>
        </div>
        <div class="info-card">
            <div class="card-face"  onclick="" [style.background-color]='cardColorFour'>
                <mat-icon class="icon">star</mat-icon>
            </div>
            <div class="card-content">
                <mat-icon class="icon">star</mat-icon>
                <p>Favorite</p>
                <p>Find your new favorite game with the favorite feature! Enter in two of your favorite games 
                    and find your new favorite of the year!
                </p>
            </div>
        </div>
    </div>
</div>

