#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container{
    display: grid;
    height: auto;
    position: relative;
    width: 100%;
    background-color: #eaeef0;
    z-index: 0;
    grid-template-areas: "a"
                         "b"
                         "c";

    .mode-container{
        grid-area: a;
        width: 100%;
        height: 40px;
        background-color: #28282B;
        z-index: 1;
        display: flex;
        color: white;
        flex-direction: row;
        align-items: center;
        font-family: 'Open Sans Condensed', sans-serif;

        mat-slide-toggle{
            font-family: 'Open Sans Condensed', sans-serif !important;
            margin: 20px;
            font-size: 20px;
        }

        mat-icon{
            margin-top: 6px;
       }
    }

    .header-container{
        grid-area: b;
        width: 100%;
        height: auto;
        position: relative;
        animation: colorshift 1.5s;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        z-index: -2;
        
        .text-container{
            margin-top: 20px;
            margin-bottom: 20px;
            width: 900px;
            height: 80vh;
            display: flex;
            font-family: 'Open Sans Condensed', sans-serif;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #eaeef0;
            border-radius: 50px;
    

            p:first-of-type{
                font-size: 80px;
                margin-bottom: 80px;
            }

            p{
                width: 80%;
                font-size: 50px;
                line-height: 55px;
                margin-bottom: 50px;
            }

            button{
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 40px;
                height: 8%;
                background-color: #28282B;
                color: white;
                border-radius: 20px;
            }
        }
    
        .logo-container{
            width: 900px;
            height: 80vh;
            display: flex;
            font-family: 'Open Sans Condensed', sans-serif;
            color: white;

        }
    }

    .info-container{
        grid-area: c;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .info-card{
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: #28282B;
            height: 700px;
            width: 700px;
            margin: 100px;
            border-radius: 50px;
            box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
            transition: 0.5s;
            z-index: 10;

            .card-face{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50px;
                transition: 0.5s;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 20;

                mat-icon{
                    color: white;
                    transform: scale(8);
                    transition: 0.5s;

                }
            }
            
            .card-content{
                z-index: 15;
                font-family: 'Open Sans Condensed', sans-serif;
                color: white;
                font-size: 40px;
                line-height: 50px;
                display: flex;
                width: 70%;
                height: 100%;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-left: 16%;

                mat-icon{
                    visibility: hidden;
                }

            }

            .card-content p:first-of-type{
                font-size: 60px;
                margin-bottom: 30px;
            }
        }
    }

    .info-container .info-card:hover .card-face{
        left: 40%;
        top: 5%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        transition-delay: 0.5s;
    }

    .info-container .info-card:hover .card-face mat-icon{
       margin-top: 5px;
       transform: scale(4);
    }
}


@media only screen and (max-width: 780px) {
    .container{
        .header-container{
            flex-wrap: wrap;
            z-index: 10;
            margin-bottom: 50px;
            .logo-container{
                width: 100%;
                height: 400px;
            }
            .text-container{
                width: 90%;
                height: auto;
                p:first-of-type{
                    font-size: 80px;
                    margin-bottom: 70px;
                    line-height: 80px;
                }
                p{
                    width: 80%;
                    font-size: 40px;
                    line-height: 45px;
                    margin-bottom: 50px;
                }
                button{
                    font-family: 'Open Sans Condensed', sans-serif;
                    font-size: 40px;
                    height: 70px;                
                }
            }
        }
        .info-container{    
            .info-card{
                width: 90vw;
                height: 600px;
                margin: 0px;
                margin-bottom: 50px;
                .card-content{
                    font-size: 30px;
                    mat-icon{
                        transform: scale(4);
                        visibility: visible;
                        margin-bottom: 60px;
                    }
                }
                .card-content p:first-of-type{
                    font-size: 50px;
                    margin-bottom: 20px;
                }

                .card-face{
                    visibility: hidden;
                }
            }
        }
    }
}