.main-flex{
    display: flex;
    height: 95vh;
    width: 100%;
    background-color: #eaeef0;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    #home-image{
        width: 700px;
        height: 700px;
        box-shadow: 10px 10px 20px rgba(0,0,0,0.2), -10px -10px 20px white, inset 10px 10px 20px rgba(0,0,0,0.2), inset -8px -8px 20px white;
        border: 15px #eaeef0 solid;
        border-radius: 20%;
    }
}