<div class="menu-container">
    <div class="left-menu">
        <img src="../../assets/Logo-White.png" id="logo-menu" routerLink="/home">
        <button mat-stroked-button id="menu-button" routerLink="/home">Home</button>
        <button mat-stroked-button id="menu-button" routerLink="/search">Search</button>
        <button mat-stroked-button id="menu-button-long" routerLink="/recommendation">Recommendations</button>
    </div>
    <div class="right-menu">
        <button mat-icon-button id="access-button">
            <mat-icon>accessible</mat-icon>
          </button>
          <button mat-icon-button id="access-button">
            <mat-icon>accessibility</mat-icon>
          </button>
    </div>
</div>

<router-outlet></router-outlet>